*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#nav_i{
  color: rgb(238, 11, 105);
  font-size: 1.8rem;
  padding-right: 10px;
  cursor: pointer;
}

#nav_i:hover{
  color: #000;
}

.navbar-brand{
  font-weight: 600;
  font-size: 2rem;
  color: rgb(238, 11, 105);
  font-family: 'Roboto Slab', serif;
 
}

.navbar-brand:hover{
  color: black;
}

.nav-item a{
  margin-right: 15px;
  margin-left: 15px;
  color: black;
  text-transform: uppercase;
  font-family: 'Pacifico', cursive;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.nav-item a:hover{
  color: rgb(238, 11, 105);
}

.fa-regular, .fa-solid{
  color: rgb(238, 11, 105);
  font-size: 1.5rem;
  cursor: pointer;
}

.fa-regular:hover{
  color: #000;
}

.fa-solid:hover{
  color: #000;
}

.navbar{
  box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}

/* ==================shoping card============================ */
.shopping-cart {
	padding-top: 80px;
	padding-bottom: 60px;
}

.cart-table {
	margin-bottom: 40px;
}

.cart-table table {
	width: 100%;
	min-width: 480px;
	border: 1px solid #ebebeb;
}

.cart-table table tr th {
	font-size: 16px;
	color: #252525;
	font-weight: 700;
	border-bottom: 1px solid  #ebebeb;
	text-align: center;
	padding: 18px 0 19px;
	text-transform: uppercase;
}

.cart-table table tr th.p-name {
	text-align: left;
}

.cart-table table tr td {
	text-align: center;
	padding-bottom: 34px;
}

.cart-table table tr td.first-row {
	padding-top: 30px;
}

.cart-table table tr td.cart-pic {
	width: 21%;
}

.cart-table table tr td.cart-title {
	text-align: left;
}

.cart-table table tr td.cart-title h5 {
	color: #252525;
}

.cart-table table tr td.p-price {
	width: 16%;
}

.cart-table table tr td.p-price,
.cart-table table tr td.total-price {
	color: rgb(238, 11, 105);
	font-size: 16px;
	font-weight: 700;
}

.cart-table table tr td.qua-col {
	width: 16%;
}

.cart-table table tr td.qua-col .quantity {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.cart-table table tr td.qua-col .pro-qty {
	width: 123px;
	height: 46px;
	border: 2px solid #ebebeb;
	padding: 0 15px;
	float: left;
}

.cart-table table tr td.qua-col .pro-qty .qtybtn {
	font-size: 24px;
	color: #b2b2b2;
	float: left;
	line-height: 38px;
	cursor: pointer;
	width: 18px;
}

.cart-table table tr td.qua-col .pro-qty .qtybtn.dec {
	font-size: 30px;
}

.cart-table table tr td.qua-col .pro-qty input {
	text-align: center;
	width: 52px;
	font-size: 14px;
	font-weight: 700;
	border: none;
	color: #4c4c4c;
	line-height: 40px;
	float: left;
}

.cart-table table tr td.total-price {
	width: 12%;
}

.cart-table table tr td.close-td {
	font-size: 16px;
	color: #252525;
	width: 8%;
}

.cart-table table tr td.close-td i {
	cursor: pointer;
}

.cart-buttons {
	margin-bottom: 34px;
}

.cart-buttons .continue-shop {
  text-decoration: none !important;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bolder;
	color: #000;
	border: 2px solid rgb(238, 11, 105);
	background: transparent;
	margin-right: 8px;
	padding: 12px 20px 12px 20px;
	margin-bottom: 10px;
}

.continue-shop:hover{
  background-color: rgb(238, 11, 105);
  color: #ffffff;
}

.cart-buttons .up-cart {
	color: #000;
  text-decoration: none !important;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
	background: #ffffff;
	border: 2px solid rgb(238, 11, 105);
	padding: 12px 20px 12px 20px;
}

.up-cart:hover{
  background-color: rgb(238, 11, 105);
  color: #ffffff;
}

.discount-coupon {
	margin-bottom: 30px;
}

.discount-coupon h6 {
	color: #232530;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 16px;
}

.discount-coupon .coupon-form {
	position: relative;
}

.discount-coupon .coupon-form input {
	width: 100%;
	height: 46px;
	border: 2px solid #ebebeb;
	color: #b2b2b2;
	font-size: 14px;
	padding-left: 20px;
}

.discount-coupon .coupon-form .coupon-btn {
	position: absolute;
  font-size: 15px;
	right: 0;
	top: 0;
	color: #252525;
	background: transparent;
	border: 1px solid transparent;
	padding: 13px 25px 10px 35px;
}

.proceed-checkout ul {
	border: 2px solid #ebebeb;
	background: #f3f3f3;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 16px;
	padding-bottom: 20px;
}

.proceed-checkout ul li {
	list-style: none;
	font-size: 16px;
	font-weight: 700;
	color: #252525;
	text-transform: uppercase;
	overflow: hidden;
}

.proceed-checkout ul li.subtotal {
	font-weight: 400;
	text-transform: capitalize;
	border-bottom: 3px solid #ffffff;
	padding-bottom: 14px;
}

.proceed-checkout ul li.subtotal span {
	font-weight: 700;
}

.proceed-checkout ul li.cart-total {
	padding-top: 10px;
}

.proceed-checkout ul li.cart-total span {
	color: rgb(238, 11, 105);
}

.proceed-checkout ul li span {
	float: right;
}

.proceed-checkout .proceed-btn {
  text-decoration: none !important;
	font-size: 14px;
	font-weight: 700;
	color: #ffffff;
	background: #252525;
	text-transform: uppercase;
	padding: 15px 25px 14px 25px;
	display: block;
	text-align: center;
}

.proceed-btn:hover{
  background-color: transparent;
  border: 2px solid rgb(238, 11, 105);
  color: rgb(238, 11, 105);
}


/* ===========footer============================= */

#foot{
  font-family: 'Pacifico', cursive;
  font-family: 'Poppins', sans-serif;
}

.pf{
  color: #6c757d !important;
  
  font-family: 'Pacifico', cursive;
  font-family: 'Poppins', sans-serif;
}

#f_1{
  color: #6c757d !important;
}

.fl{
  display: block!important;
  color: #6c757d !important;
  text-decoration: none !important;
}

.footer a{
  transition: color 0.3s ease;

}

.footer a:hove{
  color: rgb(238, 11, 105) !important;
}

.end-text{
  text-align: center;
  font-size: 15px;
}

.end-text p{
  color: #6c757d;
  text-transform: capitalize;
}