*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: linear-gradient(to bottom, rgba(99, 96, 96, 0.615), rgba(71, 70, 70, 0.779)), url("/images/back_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #000000;
}

.registration-form{
    background: #fff;
    width: 40%;
    padding: 15px 20px;
    position: absolute;
    top: 55%; 
    left: 50%; 
    transform: translate(-50%,-50%);
    width: 400px;
}

.registration-form h1{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    margin: 40px 0;

}

.registration-form p{
    font-size: 20px;
    margin: 15px 0;
}

.registration-form input{
    padding: 15px 10px;
    border: 2px;
    outline: 2px solid #000000;
    font-size: 16px;
    width: 100%;
    border-radius: 5px;
}

.registration-form button{
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0;
    padding: 10px 15px;
    width: 30%;
    border: 0;
    border-radius: 10px;
    background-color:  rgb(238, 11, 105);
    color: #eff1f3;

}

.registration-form button:hover{
    background-color: #eff1f3;
    color: #000000;
}