@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&family=Pacifico&family=Poppins:wght@300;400;500;600&display=swap');

:root{
    --font-family: 'Kaisei Tokumin', serif;
    --font-family: 'Pacifico', cursive;
    --font-family: 'Poppins', sans-serif;
    --pink: #e5345b;
}

body{
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#shop_i{
    font-size: 2.5rem;
    color: rgb(1, 1, 1);
}

.bg-primary{
    background-color: var(--pink) !important ;
}

.navbar{
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}

.navbar-brand{
    letter-spacing: 2px;
    font-family: 'Kaisei Tokumin', serif;;
}

.nav-link:hover{
    color: var(--pink) !important ;
}

.nav-item{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}

@media(min-width: 992px){
    .nav-item{
        border-bottom: none;
    }
}